/* For base styles (check out normalize.css) */
@tailwind base;
/* Simple reusable components provided by tailwind */
@tailwind components;
/* utility classes generated based on our tailwind.config.js */
@tailwind utilities;

@import '~antd/dist/antd.css';
@import './IconFont';

#root {
  width: 100%;
  height: 100%;
}

@layer components {
  .control-button {
    color: #b3b3b3;
    position: relative;
    @apply w-8 h-8 flex items-center justify-center cursor-pointer;

    &.large {
      @apply w-12 h-12;
    }
  }
}


